# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
obj/
*.o
*.cor
*.swp
*.dSYM
.idea/
libft.a
import_lib.h
cmake-build-debug/
.DS_Store
vendor.h
